.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0px;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header .container {
    display: flex;
    align-items: baseline;
  }
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-link {
  position: relative;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-item {
  position: relative;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.current-page {
  position: relative;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second-part {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-footer {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second-part-footer {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  align-content: center;
  align-items: center;
}

.address-mail-link, .address-tel-link {
  display: flex;
  align-items: baseline;
  align-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel-link {
  padding-left: 30px;
}

.address-mail-link:focus, .address-mail-link:hover, .address-tel-link:focus, .address-tel-link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.icon-envelope {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.icon-phone {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.portf-filter {
  padding-top: 100px;
  padding-bottom: 50px;
}

.portf-filter-list {
  display: flex;
  justify-content: center;
}

.portf-filter-item:not(:last-child) {
  margin-right: 8px;
}

.modal-btn {
  border-style: none;
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.modal-btn-modal-window {
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
  border-style: none;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  border-radius: 4px;
}

.modal-btn-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-btn-close-btn:focus, .modal-btn-close-btn:hover {
  fill: #2196f3;
}

.modal-btn-submit {
  display: flex;
  align-items: center;
  border-style: none;
  padding: 13px 28px 13px 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  cursor: pointer;
}

.modal-btn-submit-svg {
  display: flex;
  fill: #fff;
  margin-left: 10px;
}

.modal-btn-portfolio-modal-btn {
  border-style: none;
  padding: 6px 22px;
  height: 38px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-portfolio-modal-btn:hover, .modal-btn-portfolio-modal-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.box-portf {
  display: flex;
  flex-direction: column;
}

.box-footer {
  padding: 20px 23px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.works-section {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-top: 0;
  padding: 0;
}

.work-list-item {
  margin-right: 15px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 3 * 15px) / 3);
  max-width: 370px;
  cursor: pointer;
}

.work-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.work-list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-list-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.work-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list-item:hover .overlay {
  visibility: visible;
  overflow: hidden;
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  visibility: hidden;
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
}

.overlay-information {
  padding: 63px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #fff;
}

.form-footer {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.form-submit {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
}

.form-input-footer {
  margin-right: 12px;
  padding: 15px 0px 15px 16px;
  width: 358px;
  height: 50px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-footer:hover, .form-input-footer:focus {
  outline: none;
  border: 1px solid #fff;
}

.form-input-footer:hover::placeholder, .form-input-footer:focus::placeholder {
  color: #fff;
}

.form::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.networks {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.networks-title {
  display: flex;
  margin-bottom: 21px;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.networks-item {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.networks-list {
  display: flex;
  width: 44px;
  height: 44px;
}

.networks-icon-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icon-footer:hover {
  background: #2196f3;
}

.networks-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.networks-icon:hover {
  fill: white;
}

.networks-item-grey {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 206px;
}

.networks-icons-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0px;
  border-radius: 50px;
  color: #afb1b8;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icons-grey:hover {
  background-color: #2196f3;
  fill: white;
}

.networks-icons-grey:hover .networks-icon {
  fill: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  display: flex;
  margin-bottom: 12px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field:nth-of-type(4) {
  margin-bottom: 20px;
}

.modal-form-input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196f3;
}

.modal-form-message {
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-policy-label, .modal-form-policy-link {
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-policy-link {
  color: #2196f3;
  margin-bottom: 0px;
}

.modal-form-policy-label::before {
  display: inline-block;
  margin-right: 8.4px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  border: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/modal-window/icon-check-modal-window.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.border-underline {
  border: 1px solid #ececec;
}

.dark-theme {
  background: #2f303a;
}

.footer {
  display: block;
  background: #2f303a;
  padding: 60px 0px;
}

.footer-sections {
  display: flex;
  align-items: flex-start;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-wraper {
  display: flex;
  padding-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item {
  display: block;
  width: 231px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail-item, .footer-tel-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=portfolio.css.map */