.advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-list-item {
    max-width: 480px;

    &::before {
      content: "";
      display: block;
      margin-bottom: 30px;
      min-width: 100%;
      max-width: 450px;
      height: 120px;
      border: 0px;
      background: #f5f4fa;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(1)::before {
      content: "";
      background-image: url(../images/advantages/antenna.svg);
    }

    &:nth-child(2)::before {
      content: "";
      background-image: url(../images/advantages/clock.svg);
    }

    &:nth-child(3)::before {
      content: "";
      background-image: url(../images/advantages/diagram.svg);
    }
    &:nth-child(4)::before {
      content: "";
      background-image: url(../images/advantages/astronaut.svg);
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

&-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;
}

&-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $accent-color;
}

// @media screen and (min-width: 480px) {
//   .advantages-list-item:not(:last-child) {
//     margin-bottom: 30px;
//   }
// }

@media screen and (min-width: 768px) {
  .advantages-list-item {
    flex-basis: calc((100% - 4 * 15) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-list-item {
    width: 270px;

    &::before {
      width: 270px;
    }
  }

  &-subtitle {
    line-height: 1.143;
  }
}

// .advantages {
//   padding-top: 94px;

//   &-list {
//     display: flex;
//     justify-content: space-between;
//   }

//   &-list-item {
//     width: 270px;

//     &::before {
//       content: "";
//       display: block;
//       margin-bottom: 30px;
//       width: 270px;
//       height: 120px;
//       border: 0px;
//       background: #f5f4fa;
//       border-radius: 4px;
//       background-repeat: no-repeat;
//       background-position: center;
//     }

//     &:nth-child(1)::before {
//       content: "";
//       background-image: url(../images/advantages/antenna.svg);
//     }
//     &:nth-child(2)::before {
//       content: "";
//       background-image: url(../images/advantages/clock.svg);
//     }

//     &:nth-child(3)::before {
//       content: "";
//       background-image: url(../images/advantages/diagram.svg);
//     }
//     &:nth-child(4)::before {
//       content: "";
//       background-image: url(../images/advantages/astronaut.svg);
//     }
//   }

//   &-subtitle {
//     margin-bottom: 10px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $secondary-color;
//   }

//   &-description {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
//     color: $accent-color;
//   }
// }
