.footer {
  display: block;
  background: #2f303a;
  padding: 60px 0px;

  &-sections {
    display: flex;
    align-items: flex-start;
  }

  &-nav {
    display: flex;
    flex-direction: column;
  }

  &-wraper {
    display: flex;
    padding-bottom: 20px;
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: block;
    width: 231px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &-mail-item,
  &-tel-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
