.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-batton {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  color: transparent;

  // .icon-close {
  //   display: none;
  // }
}

.menu-batton .icon-close {
  display: none;
}
