.navigation {
  display: flex;

  &-list {
    display: flex;
    align-items: center;
  }
  &-list-link {
    position: relative;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $secondary-color;
    transition: color 250ms $transition-timing-function;

    &:hover,
    &:focus {
      color: $hover-color;
    }
  }

  &-list-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.current-page {
  position: relative;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $hover-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $hover-color;
    color: $hover-color;
    transition: 250ms $transition-timing-function;
  }
}
