.networks {
  display: flex;
  flex-direction: column;
  margin-left: 70px;

  &-title {
    display: flex;
    margin-bottom: 21px;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &-item {
    display: flex;
    width: 206px;
    justify-content: space-between;
  }

  &-list {
    display: flex;
    width: 44px;
    height: 44px;
  }

  &-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    fill: #fff;
    transition: background-color 250ms $transition-timing-function, fill 250ms $transition-timing-function;

    &:hover {
      background: $hover-color;
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    &:hover {
      fill: white;
    }
  }

  &-item-grey {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 206px;
  }

  &-icons-grey {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 0px;
    border-radius: 50px;
    color: #afb1b8;
    background-color: #fff;
    transition: background-color 250ms $transition-timing-function;

    &:hover {
      background-color: $hover-color;
      fill: white;

      & .networks-icon {
        fill: white;
      }
    }
  }
}
